@import "_header";

body {
   font-size: 10px;
   div {
      font-size: 30px;
      font-weight: 700;
   }
}
.block {
   &__text {
   }
}
.block--big {
}
.link {
}
.link-2 {
}
.link {
}
.block__text {
}
